.background-block {
    position: relative;
    min-width: 100%;    
    min-height: 60px;
    border-radius: 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}
.background-block:hover{
    background-color: rgba(255,255,255,0.15);
    transition: .5s;
}

.left-content {
    position: absolute;
    display: flex;
    gap: 1em;
    left: 2.5%;
    line-height: 5px;
    align-items: center ;
}

.song-info {

}

.photoCover {
    min-width: 45px;
    min-height: 45px;
    background-color: white;
    border-radius: 10px;
}


.right-content-1 {
    position: absolute;
    display: flex;
    gap: 1em;
    right: 2.5%;
    line-height: 5px;
    align-items: center ;
    justify-content: center;
    
}


.song-name-2 {
    color: white;
    font-size: 17.5px;
    font-weight: bold;
}

.artist-name-2 {
    color: white;
    font-size: 12.5px;
}

.views-1 {
    color: white;
    font-weight: bold   ;
    font-size: 17.5px;
}

.test {
    color: white;
    font-size: 12.5px;
}

.ppSongIcon {
    color:white;
    height: 20px;
    width: 20px;
}